@import url('https://fonts.googleapis.com/css2?family=Tahoma&display=swap');

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    font-weight: bold;
}

body {
    background-image: linear-gradient( 109.6deg,  rgba(45,116,213,1) 11.2%, rgba(121,137,212,1) 91.2% );
    height: 100%;
}

ul { 
   justify-content: center;
}

nav ul {
	display: flex;
	flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav ul li  {
    margin : 10px;
    padding : 10px;
    width: 180px;
    height: 40px;
    color: black;
    text-align: center;
    vertical-align: middle;
    line-height: 40px; 
    border-radius: 10px;
}


nav ul li:hover {
    background-image: radial-gradient( circle 610px at 5.2% 51.6%,  rgba(5,8,114,1) 0%, rgba(7,3,53,1) 97.5% );
    cursor: pointer;
    color: white;
}

nav ul li:hover a {
    color : white;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

.account{
    display: flex;
    flex-direction: column;
    background-color: rebeccapurple;
    position: absolute;
    border-radius: 10px;
    top: 100px;
    right: 100px;
    text-align: center;
    width: 220px;
    padding: 0;
    display: none;
}

.account li {
    color: white;
}

.account li:hover {
    background-color: white;
    color: black;
}

button {
    height: 50px;
    width: 140px;
    cursor: pointer;
    background-color: cyan;
    border: none;
    border-radius: 5px;
    color: black;
    text-align: center;
}


input {
    padding: 15px;
    text-align: center;
    border: none;
    border-radius: 9px;
}

input:focus {
    outline: none;
}