<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/">SciencePlanet News</a></li>
        <li><a href="/">Articles</a></li>
        <li><a href="/">Contributing</a></li>
        <li><a href="/">Account</a></li>
        <ul class="account">
            <li>Login</li>
            <li>Register</li>
        </ul>
    </ul>
</nav>
<link rel="stylesheet" href="style.css">